h1 {
    margin: auto;
    padding-top: 1em;
    padding-bottom: 2em;
}

.registerTable, .offers {
    border-radius:  27px 27px 27px 27px;
    background-color: #ace6ea;
    padding-top: 75px;
    padding-bottom: 75px;
}

.offers {
    margin-top: 20px;
}

.registerTable > h3, .offers > h3 {
    display: flex;
    justify-content: center;
    
}

table {
    margin: auto;
}

.label {
    padding-right: 10px;
}

input {
    opacity: 0.8;
}

input[type="text"], input[type="password"], input[type="date"], select {
    width: 100%;
}

input[type="date"] {
    padding-right: 2px;
}

.registerButton {
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
}

.registerButton > button {
    height: 30px;
    width: 100px;
    border-radius: 27px 27px 27px 27px;
}

.loginHere {
    text-align: center;
}

.loginHere > a {
    text-decoration: none;
    color: brown;
}

.errorMessage {
    color: red;
    font-style: italic;
    padding-left: 12px;
    max-width: 220px;
}

.successMessage {
    color: rgb(3, 199, 3);
    font-style: italic;
}

.captchaLabel {
    opacity: 0.8;
    background-color: white;
    border: 1px solid rgb(133, 133, 133);;
    height: 30px;
    padding-left: 10px;
}

.offer {
    width: 400px;
    margin: auto;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 10px;
}

.offer .title {
    text-align: center;
}

.offer img {
    object-fit: contain;
    height: 200px;
    width: 200px;
    padding: 10px;
}

.offer .info {
    margin-top: 80px;
    margin-left: 20px;
}