header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    /* width: 97%;
    margin: 0 10px; */
    padding: 10px 20px 10px 20px;
    border-bottom: solid black 1px;
    font-size: 18px;
    display: flex;
    background-color: rgb(255, 255, 255, .8);
}

header > .nav {
    margin-left: 20px;
}

header > .nav > a {
    text-decoration: none;
    color: black;
}

header > .nav > a:hover {
    font-style: italic;
}

.logout {
    margin-left: auto;
    order: 2;
}

.logout:hover {
    font-style: italic !important;
}

body {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
    display: flex;
    justify-content: center;
}

footer {
    opacity: 0.8;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* width: 97%;
    margin: 0 10px; */
    padding: 10px 20px 10px 20px;
    border-top: solid rgb(0, 0, 0, .5) 1px;
    background-color: white;
}